<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" media="all" type="text/css"/>
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="all" />
    <link href="../static/css/simpleLightbox.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="../static/js/jquery-2.1.4.min.js"></script>
<script src="../static/js/bootstrap-3.1.1.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<style type="text/css">
    .p{height: 80px;font-style: inherit;color: #eea236}
    .c{border: gray 10px}
</style>
<body>
<div class="banner-agileits" id="home">
    <nav class="navbar navbar-default w3layouts agileits hover-effect">
        <div class="container">
            <div class="navbar-header w3layouts agileits">
                <button type="button" class="navbar-toggle w3layouts agileits collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only w3ls agileits">Toggle navigation</span>
                    <span class="icon-bar aits w3layouts"></span>
                    <span class="icon-bar w3ls w3layouts"></span>
                    <span class="icon-bar aits agileits"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse w3layouts agileits navbar-right collapse">
                <ul class="nav w3layouts agileits navbar-nav">
                    <li><a href="#about" class="scroll">About</a></li>
                    <li><a href="#team" class="scroll">Team</a></li>
                    <li><a href="#services" class="scroll">Services</a></li>
                    <li><a href="#clients" class="scroll">Clients</a></li>
                    <li><a href="#gallery" class="scroll">Gallery</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner-top-w3-agile">
        <ul>
            <li><p>Vivamus</p><span>Lorem Ipsum</span></li>
            <li><p>Aenean</p><span>Lorem Ipsum</span></li>
            <li><p>dignissim</p><span>Lorem Ipsum</span></li>
            <li><p>vitae</p><span>Lorem Ipsum</span></li>
            <li><p>faucibus</p><span>Lorem Ipsum</span></li>
        </ul>
    </div>
</div>

<p>
    <button type="button" class="btn btn-primary" onclick="show()">click</button>
</p>
</body>
</html>